<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" type="image/x-icon" href="/images/favicon.svg">
  <link rel="stylesheet" href="/css/owner-profile.css" type="text/css" />
  <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
  <title>Owner Profile</title>
</head>

<body>
  <a href="../..">Home</a>
  <div class="container">
    <div class="blue-container">
      <div class="profile">
        <img class="owner-img" src="<%= photo? `../img/${photo}` : " http://bootdey.com/img/Content/avatar/avatar1.png"
          %>"
        class="rounded-circle"
        width="150"
        />
        <% if(profileUser) { %>
          <h2>
            <%=name%>
          </h2>
          <h4>@<%=username%>
          </h4>
          <% if(user.id===profileUser) { %>
            <div class="buttons">
              <a href="../../flat/register">
                <button class="button-3">
                  <strong class="fas fa-plus"></strong>
                  Add Flat
                </button></a>
              <a href="../edit/<%= profileUser %> ">
                <button class="button-3">
                  <i class="fas fa-edit"></i> Edit Profile
                </button></a>
            </div>
            <% } %>
      </div>

      <% if (profile.description) { %>
        <div class="details">
          <p>
            <%=profile.description %>
          </p>
        </div>
        <% } %>

          <div class="lol" style="margin-left:33vw">
            <div class="upper-layer">
              <div class="all-flats">
                <%- include ("../partials/showOwnerAllFlats.ejs", {misc, flatList}) %>
              </div>
              <%} else { %>
                <p>USER NOT FOUND!</p>
                <% } %>
            </div>
          </div>
    </div>
</body>

</html>