<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/css/owner-profile.css" type="text/css" />
  <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
  <title>Owner Profile</title>
</head>

<body>
  <a href="/">Home</a>
  <div class="container">
    <div class="blue-container">
      <div class="profile">
        <img class="owner-img" src="<%= photo? `../img/${photo}` : " http://bootdey.com/img/Content/avatar/avatar1.png"
          %>"
        alt="Admin"
        class="rounded-circle"
        width="150"
        />
        <% if(profileUser) { %>
          <h2 style="color: white;">
            <%=name%>
          </h2>
          <% if(user.id===profileUser) { %>
            <div class="buttons">
              <button class="button-3">
                <a style="color: white;" href="../../flat/register">Add Flat</a>
              </button>
              <button class="button-3">
                <a style="color: white;" href="../edit/<%= profileUser %> ">Edit Profile</a>
              </button>
            </div>
            <% } %>
      </div>

      <div class="details">
        <ul>
          <li><span><i class="fa fa-globe fa-xl"></i> Website</span><span class="social-media">https://
              <%=username%>.bariola.com
            </span></li>
          <li><span><i class="fa fa-twitter fa-xl"></i> Twitter</span><span class="social-media">@<%=username%></span>
          </li>
          <li><span><i class="fa fa-facebook fa-xl"></i> Facebook</span><span class="social-media">
              @<%=username%>
            </span></li>
          <li><span><i class="fa fa-instagram fa-xl"></i> Instagram</span><span class="social-media">
              @<%=username%>
            </span></li>
        </ul>
      </div>

      <div class="lol" style="margin-left:33vw">
        <div class="upper-layer">
        </div>
        <div class="all-flats">
          <%- include ("../partials/showOwnerAllFlats.ejs", {misc, flatList}) %>
        </div>
        <%} else { %>
          <p>USER NOT FOUND!</p>
          <% } %>
      </div>
    </div>
  </div>
  </div>
  <%} else { %>
    <p>USER NOT FOUND!</p>
    <% } %>
</body>

</html>