<html>
  <head>
    <!-- Required meta tags-->
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Title Page-->
    <!-- <title>Advanced Search</title> -->

    <!-- Icons font CSS-->
    <link
      href="vendor/mdi-font/css/material-design-iconic-font.min.css"
      rel="stylesheet"
      media="all"
    />
    <link
      href="vendor/font-awesome-4.7/css/font-awesome.min.css"
      rel="stylesheet"
      media="all"
    />
    <!-- Font special for pages-->
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
    />

    <!-- Main CSS-->
    <link href="css/advance-search.css" rel="stylesheet" media="all" />
    
  </head>
  <body>
    <div class="page-wrapper bg-img-1 p-t-165 p-b-100">
      <div class="wrapper wrapper--w720">
        <div class="card card-3">
          <div class="card-body">
            <!-- advance search heading -->
            <ul class="tab-list">
              <li class="tab-list__item active">
                <!-- <h1 class="tab-list__link">Advance Search</h1> -->
                <h1>Search</h1>
              </li>
            </ul>

            <!-- starting of form div -->
            <div class="tab-content">
              <div class="tab-pane active" id="tab1">
                <form action="search" method="post">
                  <!-- address -->
                  <div class="input-group">
                    <label class="label">Address</label>
                    <input
                      class="input--style-1"
                      type="text"
                      name="address"
                      placeholder="ex:32 kolomesshor"
                      autocomplete="off"
                    />
                    <i class="zmdi zmdi-pin input-group-symbol"></i>
                  </div>

                  <!-- level -->
                  <div class="row row-space">
                    <div class="col-2">
                      <div class="input-group">
                        <label for="level" class="level">Level</label>
                        <br />
                        <label>Min</label>
                        <select name="minLevel">
                          <% for(let i=1; i<=20; i++) { %>
                          <option value="<%=i%>"> <%=i%> </option>
                          <% } %>
                        </select>
                        <label>Max</label>
                        <select name="maxLevel">
                          <% for(let i=1; i<=20; i++) { %>
                          <option value="<%=i%>" <%= i==20? "selected": '' %> > <%=i%> </option>
                          <% } %>
                        </select>
                      </div>
                    </div>

                    <!-- gender -->
                    <div class="col-2">
                      <div class="input-group">
                        <label for="gender" class="gender">Gender</label>
                        <select name="gender">
                          <% misc.globalConst.genderList.forEach((gender)=> { %>
                            <option value="<%=gender.value%>"><%= gender.display %></option>
                          <% }) %>
                        </select>
                      </div>
                    </div>
                  </div>

                  <!-- lift & generator -->
                  <div class="matha">
                    <span>
                      <label>Lift Required</label>
                      <input type="checkbox" name="lift" />
                      <label>Generator Required</label>
                      <input type="checkbox" name="generator" />
                    </span>
                  </div>

                  <!-- submit -->
                  <button class="btn-submit" type="submit" text-align="center">
                    search
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
