<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
<style>
  a {
    display: inline-block;
    text-decoration: none;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    color: #3F3B6C;
    /* color: #00f339; */

  }

  a:link {
    text-decoration: none;
  }

  a:visited {
    text-decoration: none;
  }

  a:hover {
    text-decoration: none;
  }

  a:active {
    text-decoration: none;
  }


  .navbar-list {
    display: flex;
    align-items: center;
    gap: 30px;
    flex-direction: row;
    list-style: none;
  }

  @keyframes slideDown {
    0% {
      transform: translateY(0);
    }

    100% {
      transform: translateY(100%);
    }
  }

  /* DROPDOWN MENU */
  .dropbtn {
    /* background-color: #04AA6D; */
    color: #3F3B6C;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 12px;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    background-color: #ddd;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown:hover .dropbtn {
    background-color: #00ff7b;
  }

  .nav {
    background-color: whitesmoke;
    position: fixed;
    z-index: 5;
    width: 100%;
    min-height: 58px;
    display: flex;
    justify-content: space-between;
    border-radius: 2px;
  }

  .last {
    padding-right: 20px;
  }
</style>
<div class="nav">
  <ul class="navbar-list">
    <li>
      <a class="fa fa-home fa-2x" href="/#" style="margin-right: -10px; margin-left: 10px"></a>
    </li>
    <li>
      <a href="/#">
        <h3 style="color: #3F3B6C;">Abaash</h3>
      </a>
    </li>

    <% if(user.id) { %>
      <li>
        <a href="/<%=user.mode%>/profile/<%=user.id%>">
          <%=user.name? user.name: user.id%>
        </a>
      </li>
      <li><a href="/<%=user.mode%>/requests">Requests</a></li>
      <% } %>
  </ul>
  <ul class="navbar-list last">
    <% if(user.id) { %>
      <li>
        <div class="dropdown">
          <button class="dropbtn">Settings</button>
          <div class="dropdown-content">
            <a href="/<%=user.mode%>/password/<%=user.id%>">Change Password</a>
            <a href="/<%=user.mode%>/delete/<%=user.id%>">Delete Account</a>
          </div>
        </div>
      </li>
      <li><a href="/logout">Log Out</a></li>

      <% } else { %>
        <li><a href="/student/login">Log In</a></li>
        <% } %>
  </ul>
</div>