<style>
   /**
   * HEADER
   */

  .header-bottom {
    padding-block: 30px;
  }

  .header-bottom-actions-btn:last-child,
  .navbar-top,
  .overlay {
    display: none;
  }

  .navbar,
  .navbar.active {
    all: unset;
  }

  .navbar-list {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  .navbar-link {
    color: var(--myc1);
    --fs-5: 1.125rem;
    text-transform: capitalize;
  }

  .header {
    padding-bottom: 114px;
  }

  .header-bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
  }

  .header.active .header-bottom {
    position: fixed;
    bottom: auto;
    top: -94px;
    padding-block: 20px;
    box-shadow: 0 10px 50px hsla(237, 71%, 52%, 0.2);
    animation: slideDown 0.25s ease-out forwards;
  }

  @keyframes slideDown {
    0% {
      transform: translateY(0);
    }

    100% {
      transform: translateY(100%);
    }
  }



  /**
   * HERO
   */

  .hero-text {
    padding-left: 30px;
    max-width: 450px;
    margin-bottom: 40px;
  }

  .fa-home{
    margin-right: -10px; margin-left: 10px
  }
</style>

<div class="nav">
  <ul class="navbar-list">
    <li>
      <a class="fa fa-home fa-2x" href="/#" style="margin-right: -10px; margin-left: 10px"></a>
    </li>

    <% if(user.id) { %>
      <li>
        <a href="<%=user.mode%>/profile/<%=user.id%>">
          <%=user.name? user.name: user.id%>
        </a>
      </li>
      <li><a href="<%=user.mode%>/requests">Requests</a></li>
      <li><a href="<%=user.mode%>/settings">Settings</a></li>
      <li><a href="logout">Log Out</a></li>
    
    <% } else { %>
      <li><a href="student/login">Log In</a></li>
    <% } %>
  </ul>
</div>