<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Galada&family=Montserrat:ital,wght@0,600;1,500&family=Righteous&display=swap"
/>
<script
  src="https://kit.fontawesome.com/a076d05399.js"
  crossorigin="anonymous"
></script>
<style>
  .nav a {
    display: inline-block;
    text-decoration: none;
    transition: all 0.4s ease;
    color: #3f3b6c;
    /* color: #00f339; */
  }

  .nav a:link {
    text-decoration: none;
  }

  .nav a:visited {
    text-decoration: none;
  }

  .nav a:hover {
    text-decoration: none;
  }

  .nav a:active {
    text-decoration: none;
  }

  .navbar-list {
    display: flex;
    align-items: center;
    gap: 30px;
    flex-direction: row;
    list-style: none;
  }

  @keyframes slideDown {
    0% {
      transform: translateY(0);
    }

    100% {
      transform: translateY(100%);
    }
  }

  /* DROPDOWN MENU */
  .dropbtn {
    /* background-color: #04AA6D; */
    color: #3f3b6c;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: whitesmoke;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 12px;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    background-color: #ddd;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown:hover .dropbtn {
    background-color: #00ff7b;
  }

  .nav {
    background-color: whitesmoke;
    position: fixed;
    z-index: 5;
    width: 100%;
    max-height: 58px;
    display: flex;
    justify-content: space-between;
    border-radius: 2px;
    font-weight: 600;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    top: 0;
    left: 0;
  }

  .last {
    padding-right: 20px;
  }
</style>
<div class="nav">
  <ul class="navbar-list">
    <li>
      <a
        class="fa fa-home fa-2x"
        href="/#"
        style="margin-right: -10px; margin-left: 10px"
      ></a>
    </li>
    <li>
      <a href="/">
        <h3 style="color: #3f3b6c">Abaash</h3>
      </a>
    </li>

    <% if(user.id) { %>
    <li>
      <a href="/<%=user.mode%>/profile/<%=user.id%>">
        <%=user.name? user.name: user.id%>
      </a>
    </li>
    <li><a href="/<%=user.mode%>/requests">Requests</a></li>
    <% } %>
  </ul>
  <ul class="navbar-list last">
    <% if(user.id) { %>
    <li>
      <div class="dropdown">
        <button class="dropbtn">Settings</button>
        <div class="dropdown-content">
          <a href="/<%=user.mode%>/password/<%=user.id%>">Change Password</a>
          <a href="/<%=user.mode%>/delete/<%=user.id%>">Delete Account</a>
        </div>
      </div>
    </li>
    <li><a href="/logout">Log Out</a></li>

    <% } else { %>
    <li><a href="/student/login">Log In</a></li>
    <% } %>
  </ul>
</div>
