<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- link css -->
  <link rel="stylesheet" href="/css/ownerFlats.css">

  <!-- awessome font -->
  <script src="https://kit.fontawesome.com/53732d670c.js" crossorigin="anonymous"></script>

  <!-- google font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,500;0,600;0,700;1,300&display=swap"
    rel="stylesheet">
  <title>Document</title>
</head>

<body>
  <div class="container">
    <div class="cards">
      <section class="card">
        <figure>
          <div class="img-overlay">
            <a href="../../flat/profile/<%=flat.flatID%>">
              <img src="<%= flat.photo? `/flat/img/${flat.photo}` : 'https://media-cldnry.s-nbcnews.com/image/upload/t_fit-560w,f_auto,q_auto:best/newscms/2018_30/1355945/home-exterior-today-180726-tease.jpg' %>" width="100%" />
            </a>
            <div class="overlay"><a href="#">view property</a></div>
            
          </div>
          <figcaption>
            <!-- Should be Address -->
            <a class="nameAnchor" href="../../flat/profile/<%=flat.flatID%>">
              <%=flat.name%>
            </a>
          </figcaption>
        </figure>
        <div class="card-content">
          <p><%=flat.description %></p>
          Address: <%= flat.address %>

            <section class="icons-home">
              <div class="name-icon">
                <span>Level</span>
                <div class="icon">
                  <i class="fas fa-stairs"></i>
                  <span>
                    <%= flat.level %>
                  </span>
                </div>
              </div>
              <div class="name-icon">
                <span>For</span>
                <div class="icon">
                  <i class="<%= flat.gender? 'fa-solid fa-mars': 'fa-solid fa-venus' %>"></i>
                  <span>
                    <%= misc.flatGenderText(flat.gender) %>
                  </span>
                </div>
              </div>
              <div class="name-icon">
                <span>area</span>
                <div class="icon">
                  <i class="fa-solid fa-table-cells-large"></i>
                  <span>
                    <%=flat.area %>
                  </span>
                </div>
              </div>
            </section>
            <section class="price">
              <span>for rent</span></br>
              <span>৳<%=flat.rent %>/month</span>
            </section>
        </div>
      </section>
    </div>
  </div>
</body>

</html>