<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/edit.css" type="text/css" />
    <title>Edit Flat</title>
    <!-- <style>
      *{
          margin: 0;
          padding:0;
          box-sizing: border-box;
      }

      .container{
          width: 100vw;
          height: 100vh;
          background-image:  linear-gradient(110deg,
              rgba(255,255,255,0.7) 50%,
              transparent 50%),
           url("/images/home5.jpg");
          background-size: 100% 100%;
      }

  </style> -->
  </head>



  <body>
    <% if(currentUser === flat.owner) { %>
    <div class="container">
      <form id="register" method="post">
        <h1>Edit Flat</h1>
        <div>
          <label>Photo</label>
        <input name="photo" type="file" accept="image/*">
      </div>
        <input
          type="text"
          name="name"
          placeholder="Name"
          value="<%= flat.name %>"
        />
        <br />
        <input
          type="text"
          name="address"
          placeholder="Address"
          value="<%= flat.address %>"
        />
        <br />
        <div class="edit">
          <input type="text" name="description" placeholder="Description" value =<%=flat.description %> />
          <br />
        </div>
        <label>Gender</label>
        <select name="gender">
          <% misc.globalConst.flatGenderList.forEach((gender)=> { %>
            <option value="<%=gender.value%>" <%= flat.gender===gender.value? 'selected': '' %>>
              <%= gender.display %>
            </option>
          <% }) %>
        </select>
        <br />
        <label>Level</label>
        <select name="level">
          <% for(let i=1; i<=20; i++) { %>
          <option value="<%=i%>" <%= i===flat.level? 'selected': '' %> ><%=i%></option>
          <% } %>
        </select>
        <br />
        <div class="edit">
          <input type="number" name="area" placeholder="Area in square feet" value="<%=flat.area %>" />
        </div>
        <label>Lift</label>
        <input type="checkbox" name="lift" <%=flat.lift > 0? 'checked': '' %> />
        <label>Generator</label>
        <input type="checkbox" name="generator" <%=flat.generator > 0? 'checked': '' %> /> <br />
        <div class="edit">
          <input type="number" name="rent" placeholder="Rent" value="<%=flat.rent %>"/> <br />
        </div>
        <a href="../../owner/profile/<%=flat.owner%>">Owner: <%=owner.name%></a>
        <br />
        <button>Save</button>
      </form>
      <button><a href="../profile/<%=flat.flatID%>">Cancel</a></button>

      <!-- Rooms Added 9/11/2022 -->
      <div>
        <div class="edit">
          <input type="number" name="bed" placeholder="Bedroom" value="<%=rooms.bed%>" form="register" />
        </div>
        <br />
        <div class="edit">
          <input
            type="number"
            name="din"
            placeholder="Dining Room"
            value="<%=rooms.din%>"
            form="register"
          />
        </div>
        <br />
        <div class="edit">
          <input
            type="number"
            name="liv"
            placeholder="Living Room"
            value="<%=rooms.liv%>"
            form="register"
          />
        </div>
        <br />
        <div class="edit">
          <input type="number" name="kit" placeholder="Kitchen" value="<%=rooms.kit%>" form="register" />
        </div>
        <br />
        <div class="edit">
          <input
            type="number"
            name="bath"
            placeholder="Bathroom"
            value="<%=rooms.bath%>"
            form="register"
          />
        </div>
        <br />
        <div class="edit">
          <input
            type="number"
            name="balk"
            placeholder="Balcony"
            value="<%=rooms.balk%>"
            form="register"
          />
        </div>
        <br />
        <div class="edit">
          <input
            type="number"
            name="xtra"
            placeholder="Extra Room"
            value="<%=rooms.xtra%>"
            form="register"
          />
        </div>
        <br />
      </div>
      <!-- The End of Rooms -->
    </div>

    

    <% } else { %>
    <p>USER NOT FOUND!</p>
    <% } %>
  </body>
</html>
