<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%=flat? flat.name: 'FLAT NOT FOUND'%></title>
    <link rel="stylesheet" href="/css/single-flat.css" type="text/css" />
    <style>
      

    </style>
  </head>

  <body>
    <a href="../..">Home</a>
    <div class="container">
      <div class="details">
        <h1>Property Information</h1>
        <% if(flat) { %>
        <div class="form-item">
          <span class="attribute">Name</span
          ><span class="val"><%=flat.name%></span>
        </div>
        <div class="form-item">
          <label class="attribute">Address</label
          ><span class="val"><%=flat.address%></span>
        </div>
        <div class="form-item">
          <label class="attribute">For</label
          ><span class="val"
            ><%=flat.gender? 'Bachelors' : 'Bachelorettes' %></span
          >
        </div>
        <div class="form-item">
          <label class="attribute">Level</label
          ><span class="val"><%=flat.level%></span>
        </div>
        <div class="form-item">
          <label class="attribute"> Owner</label>
          <span class="val"
            ><a href="../../owner/profile/<%=flat.owner%>"
              ><%=owner.name%></a
            ></span
          >
        </div>
        <div class="form-item">
          <label class="attribute">Lift</label
          ><span class="val"><%=flat.lift? 'YES' : 'NO' %></span>
        </div>
        <div class="form-item">
          <label class="attribute">Generator</label
          ><span class="val"><%=flat.generator? 'YES' : 'NO' %></span>
        </div>

        <% if (roomList.bedrooms.length > 0) { %>
        <div>
          <h1>Bedroom: <%= roomList.bedrooms.length %></h1>
          <ul>
            <% roomList.bedrooms.forEach(room => { %>
            <li>
              <a href="../../room/profile/<%= room.roomID %> "
                ><h2><%= room.name %></h2></a
              >
            </li>
            <% }) %>
          </ul>
        </div>
        <% } %> <% if (roomList.diningrooms.length > 0) { %>
        <div>
          <h1>Dining Room: <%= roomList.diningrooms.length %></h1>
          <ul>
            <% roomList.diningrooms.forEach(room => { %>
            <li>
              <a href="../../room/profile/<%= room.roomID %> "
                ><h2><%= room.name %></h2></a
              >
            </li>
            <% }) %>
          </ul>
        </div>
        <% } %> <% if (roomList.livingrooms.length > 0) { %>
        <div>
          <h1>Living Room: <%= roomList.livingrooms.length %></h1>
          <ul>
            <% roomList.livingrooms.forEach(room => { %>
            <li>
              <a href="../../room/profile/<%= room.roomID %> "
                ><h2><%= room.name %></h2></a
              >
            </li>
            <% }) %>
          </ul>
        </div>
        <% } %> <% if (roomList.kitchens.length > 0) { %>
        <div>
          <h1>Kitchen: <%= roomList.kitchens.length %></h1>
          <ul>
            <% roomList.kitchens.forEach(room => { %>
            <li>
              <a href="../../room/profile/<%= room.roomID %> "
                ><h2><%= room.name %></h2></a
              >
            </li>
            <% }) %>
          </ul>
        </div>
        <% } %> <% if (roomList.bathrooms.length > 0) { %>
        <div>
          <h1>Bathroom: <%= roomList.bathrooms.length %></h1>
          <ul>
            <% roomList.bathrooms.forEach(room => { %>
            <li>
              <a href="../../room/profile/<%= room.roomID %> "
                ><h2><%= room.name %></h2></a
              >
            </li>
            <% }) %>
          </ul>
        </div>
        <% } %> <% if (roomList.balconies.length > 0) { %>
        <div>
          <h1>Balcony: <%= roomList.balconies.length %></h1>
          <ul>
            <% roomList.balconies.forEach(room => { %>
            <li>
              <a href="../../room/profile/<%= room.roomID %> "
                ><h2><%= room.name %></h2></a
              >
            </li>
            <% }) %>
          </ul>
        </div>
        <% } %> <% if (roomList.storerooms.length > 0) { %>
        <div>
          <h1>Store Room: <%= roomList.storerooms.length %></h1>
          <ul>
            <% roomList.storerooms.forEach(room => { %>
            <li>
              <a href="../../room/profile/<%= room.roomID %> "
                ><h2><%= room.name %></h2></a
              >
            </li>
            <% }) %>
          </ul>
        </div>
        <% } %> <% if (roomList.xtrarooms.length > 0) { %>
        <div>
          <h1>Extra Room: <%= roomList.xtrarooms.length %></h1>
          <ul>
            <% roomList.xtrarooms.forEach(room => { %>
            <li>
              <a href="../../room/profile/<%= room.roomID %> "
                ><h2><%= room.name %></h2></a
              >
            </li>
            <% }) %>
          </ul>
        </div>
        <% } %>
      </div>
      <% if(currentUser===flat.owner) { %>
      <button class="bb">
        <a href="../edit/<%=flat.flatID%>">Edit Info</a>
      </button>
      <% } else if (mode==='student') { %> <% if (student.flatID===null) { %>
      <form action="request" method="post">
        <input type="hidden" name="studentID" value="<%= currentUser %>" />
        <input type="hidden" name="flatID" value="<%= flat.flatID %>" />
        <button class="bb">Request Reservation</button>
      </form>
      <% } %> <% } %> <% } else { %>
      <span>FLAT NOT FOUND!</span>
      <% } %>
    </div>
  </body>
</html>
