<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" type="image/x-icon" href="/images/favicon.svg">
  <title>
    <%=flat? flat.name: 'FLAT NOT FOUND' %>
  </title>
  <link rel="stylesheet" href="/css/flat_profile.css" type="text/css" />
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.2/dist/leaflet.css"
    integrity="sha256-sA+zWATbFveLLNqWO2gtiw3HL/lh1giY/Inf1BJ0z14=" crossorigin="" />
  <style>
    @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
    @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap");

    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      /* font-family: Lato, Helvetica,sans-serif; */
      font-family: "Montserrat", sans-serif;
    }

    #mapid {
      width: 25%;
      height: 350px;
      /* margin-left: 80px; */
      /* margin-top: 35px; */
      position: absolute;
      right: 120px;
      z-index: 1;
      position: flex;
      top: 25vh;
    }

    .container {
      width: 100vw;
      height: 95vh;
      background-image: linear-gradient(110deg,
          rgba(255, 255, 255, 0.7) 50%,
          transparent 50%),
        url("/images/home5.jpg");
      background-size: 100% 100%;
      /* display: flex;
          align-items: center; */
    }

    .details {
      /* border:2px solid; */
      box-shadow: 0 5px 20px -6px #000;
      width: 25vw;
      height: fit-content;
      background-color: rgba(255, 255, 255, 0.7);
      color: #20247b;
      margin-left: 10vw;
      padding: 23px;
      position: absolute;
      top: 28vh;
      left: 3vw;
      border-radius: 8px;
    }

    .form-item {
      /* border-bottom: 0.1rem solid #f5f5f5; */
      margin: 7px;
    }

    .attribute {
      width: 88px;
      position: absolute;
    }

    .val {
      font-weight: 700;
      position: relative;
      left: 140px;
      color: #3f7fb7;
    }

    h1 {
      margin-bottom: 30px;
    }

    a {
      text-decoration: none;
    }

    .bb>a {
      color: whitesmoke;
      text-decoration: none;
    }

    .bb {
      appearance: none;
      background-color: #3f7fb7;
      border: 1px solid rgba(27, 31, 35, 0.15);
      border-radius: 6px;
      box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
      box-sizing: border-box;
      color: #fff;
      cursor: pointer;
      display: inline-block;
      font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
        sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
      font-size: 14px;
      font-weight: 600;
      line-height: 20px;
      padding: 6px 16px;
      position: relative;
      text-align: center;
      text-decoration: none;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      vertical-align: middle;
      white-space: nowrap;
      margin: 15px;
    }

    .bb:focus:not(:focus-visible):not(.focus-visible) {
      box-shadow: none;
      outline: none;
    }

    .bb:hover {
      background-color: #1e64a1;
    }

    .bb:focus {
      box-shadow: rgba(20, 35, 172, 0.4) 0 0 0 3px;
      outline: none;
    }

    .bb:disabled {
      background-color: #94d3a2;
      border-color: rgba(27, 31, 35, 0.1);
      color: rgba(255, 255, 255, 0.8);
      cursor: default;
    }

    .bb:active {
      background-color: #2c379d;
      box-shadow: rgba(20, 70, 32, 0.2) 0 1px 0 inset;
    }
  </style>
</head>

<body>
  <%- include("../partials/navbar.ejs") %>
    <a href="../..">Home</a>
    <div class="container">
      <div class="details">
        <% if(flat) { %>
          <h1>
            <%=flat.name%>
          </h1>
          <div class="form-item">
            <label class="attribute">Address</label><span class="val"><a href="<%="https://www.google.com/maps/search/?api=1&query="+flat.x+" %2C"+flat.y%>"
                ><%=flat.address%></a></span>
          </div>
          <div class="form-item">
            <label class="attribute">For</label><span class="val">
              <%=flat.gender? 'Male' : 'Female' %>
            </span>
          </div>
          <div class="form-item">
            <label class="attribute">Level</label><span class="val">
              <%=flat.level%>
            </span>
          </div>
          <div class="form-item">
            <label class="attribute"> Owner</label>
            <span class="val"><a href="../../owner/profile/<%=flat.owner%>">
                <%=owner.name%>
              </a></span>
          </div>
          <div class="form-item">
            <label class="attribute">Lift</label><span class="val">
              <%=flat.lift? 'YES' : 'NO' %>
            </span>
          </div>
          <div class="form-item">
            <label class="attribute">Generator</label><span class="val">
              <%=flat.generator? 'YES' : 'NO' %>
            </span>
          </div>
          <div class="form-item">
            <label class="attribute">Area</label><span class="val">
              <%=flat.area%>
            </span>
          </div>

          <% if (rooms.bed>0) { %>
            <div class="form-item">
              <label class="attribute">Bedroom</label><span class="val">
                <%=rooms.bed%>
              </span>
            </div>
          <% } %>
          <% if (rooms.din>0) { %>
            <div class="form-item">
              <label class="attribute">Dining Room</label><span class="val">
                <%=rooms.din%>
              </span>
            </div>
          <% } %>
          <% if (rooms.liv>0) { %>
            <div class="form-item">
              <label class="attribute">Living Room</label><span class="val">
                <%=rooms.liv%>
              </span>
            </div>
          <% } %>
          <% if (rooms.kit>0) { %>
            <div class="form-item">
              <label class="attribute">Kitchen</label><span class="val">
                <%=rooms.kit%>
              </span>
            </div>
          <% } %>
          <% if (rooms.bath>0) { %>
            <div class="form-item">
              <label class="attribute">Bathroom</label><span class="val">
                <%=rooms.bath%>
              </span>
            </div>
          <% } %>
          <% if (rooms.balk>0) { %>
            <div class="form-item">
              <label class="attribute">Balcony</label><span class="val">
                <%=rooms.balk%>
              </span>
            </div>
          <% } %>
          <% if (rooms.xtra>0) { %>
            <div class="form-item">
              <label class="attribute">Extra Room</label><span class="val">
                <%=rooms.xtra%>
              </span>
            </div>
          <% } %>

          <% if (flat.rent>0) { %>
            <div class="form-item">
              <label class="attribute">Rent</label><span class="val">
                ৳<%=flat.rent %>/month
              </span>
            </div>
          <% } else { %>
            <div class="form-item">
              <label class="attribute">Not Vacant</label>
            </div>
          <% } %>

          <% if (flat.photo) { %>
            <div class="form-item">
              <span class="val"><img src="../img/<%=flat.photo%>"></span>
            </div>
          <% } %>
      </div>

      <% if(user.id===flat.owner) { %>

        <div class="buttons">
          <button class="bb">
            <a href="../edit/<%=flat.flatID%>">Edit</a>
          </button>
          <button class="bb">
            <a href="../delete/<%=flat.flatID%>">Delete</a>
          </button>
        </div>

      <% } else if (user.mode === 'student' && flat.rent>0) { %>
        <a href="../request/<%=flat.flatID%>"><button class="bb">Request Reservation</button></a>
      <% } %>

      <% } else { %>
        <span>FLAT NOT FOUND!</span>
      <% } %>

      <!-- map -->
      <div class="map" id="mapid"></div>

      <script src="https://unpkg.com/leaflet@1.9.2/dist/leaflet.js"
        integrity="sha256-o9N1jGDZrf5tS+Ft4gbIK7mYMipq9lqpVJ91xHSyKhg=" crossorigin=""></script>

      <!-- map js  -->
      <script>
        let x= <%= flat.x %>;
        let y= <%= flat.y %>;
        var map = L.map("mapid").setView([x,y], 17);

        const layer = L.tileLayer(
          "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
          {
            maxZoom: 19,
            attribution:
              '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
          }
        ).addTo(map);

        let markerOptions = {
          //  title: <%#= flat.name%>,
          clickable: true,
          draggable: true,
        };

        // creating marker
        let marker = L.marker([x,y]);

        // add marker to map
        marker.addTo(map);
      </script>
    </div>
    <%#- include("../partials/footer.ejs") %>
</body>

</html>