<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%=flat? flat.name: 'FLAT NOT FOUND'%></title>
  </head>

  <body>
    <a href="../..">Home</a>
    <% if(flat) { %>
    <h1>Name: <%=flat.name%></h1>
    <h1>Address: <%=flat.address%></h1>
    <h1>For <%=flat.gender? 'Bachelors' : 'Bachelorettes' %></h1>
    <h1>Level: <%=flat.level%></h1>
    <h1>
      Owner:
      <a href="../../owner/profile/<%=flat.owner%>"> <%=owner.name%> </a>
    </h1>
    <h1>Lift: <%=flat.lift? 'YES' : 'NO' %></h1>
    <h1>Generator: <%=flat.generator? 'YES' : 'NO' %></h1>

    <% if (roomList.bedrooms.length > 0) { %>
    <h1>Bedroom: <%= roomList.bedrooms.length %></h1>
    <ul>
      <% roomList.bedrooms.forEach(room => { %>
      <li>
        <a href="../../room/profile/<%= room.roomID %> "
          ><h2><%= room.name %></h2></a
        >
      </li>
      <% }) %>
    </ul>
    <% } %> <% if (roomList.diningrooms.length > 0) { %>
    <h1>Dining Room: <%= roomList.diningrooms.length %></h1>
    <ul>
      <% roomList.diningrooms.forEach(room => { %>
      <li>
        <a href="../../room/profile/<%= room.roomID %> "
          ><h2><%= room.name %></h2></a
        >
      </li>
      <% }) %>
    </ul>
    <% } %> <% if (roomList.livingrooms.length > 0) { %>
    <h1>Living Room: <%= roomList.livingrooms.length %></h1>
    <ul>
      <% roomList.livingrooms.forEach(room => { %>
      <li>
        <a href="../../room/profile/<%= room.roomID %> "
          ><h2><%= room.name %></h2></a
        >
      </li>
      <% }) %>
    </ul>
    <% } %> <% if (roomList.kitchens.length > 0) { %>
    <h1>Kitchen: <%= roomList.kitchens.length %></h1>
    <ul>
      <% roomList.kitchens.forEach(room => { %>
      <li>
        <a href="../../room/profile/<%= room.roomID %> "
          ><h2><%= room.name %></h2></a
        >
      </li>
      <% }) %>
    </ul>
    <% } %> <% if (roomList.bathrooms.length > 0) { %>
    <h1>Bathroom: <%= roomList.bathrooms.length %></h1>
    <ul>
      <% roomList.bathrooms.forEach(room => { %>
      <li>
        <a href="../../room/profile/<%= room.roomID %> "
          ><h2><%= room.name %></h2></a
        >
      </li>
      <% }) %>
    </ul>
    <% } %> <% if (roomList.balconies.length > 0) { %>
    <h1>Balcony: <%= roomList.balconies.length %></h1>
    <ul>
      <% roomList.balconies.forEach(room => { %>
      <li>
        <a href="../../room/profile/<%= room.roomID %> "
          ><h2><%= room.name %></h2></a
        >
      </li>
      <% }) %>
    </ul>
    <% } %> <% if (roomList.storerooms.length > 0) { %>
    <h1>Store Room: <%= roomList.storerooms.length %></h1>
    <ul>
      <% roomList.storerooms.forEach(room => { %>
      <li>
        <a href="../../room/profile/<%= room.roomID %> "
          ><h2><%= room.name %></h2></a
        >
      </li>
      <% }) %>
    </ul>
    <% } %> <% if (roomList.xtrarooms.length > 0) { %>
    <h1>Extra Room: <%= roomList.xtrarooms.length %></h1>
    <ul>
      <% roomList.xtrarooms.forEach(room => { %>
      <li>
        <a href="../../room/profile/<%= room.roomID %> "
          ><h2><%= room.name %></h2></a
        >
      </li>
      <% }) %>
    </ul>
    <% } %> <% if(currentUser===flat.owner) { %>
    <button>
      <a href="../edit/<%=flat.flatID%>">Edit Info</a>
    </button>
    <button>
      <a href="#">Add Rooms</a>
    </button>
    <% } else if (mode==='student') { %>
    <form action="request" method="post">
      <input type="hidden" name="studentID" value="<%= currentUser %>" />
      <input type="hidden" name="flatID" value="<%= flat.flatID %>" />
      <button>Request Reservation</button>
    </form>
    <% } %> <% } else { %>
    <p>FLAT NOT FOUND!</p>
    <% } %>
  </body>
</html>
