<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <script src="https://kit.fontawesome.com/53732d670c.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/edit.css" type="text/css" />
  <title>New Flat</title>
  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    .container {
      width: 100vw;
      height: 100vh;
      background-image: linear-gradient(110deg,
          rgba(255, 255, 255, 0.7) 50%,
          transparent 50%),
        url("/images/home5.jpg");
      background-size: 100% 100%;
    }
  </style>
</head>

<body>
  <% if(user.id===owner.username) { %>
    <div class="register-container">
      <form action="register" id="register" method="post">
        <h1>New Flat</h1>
        <div class="edit">
          <input type="text" name="name" placeholder="Name" /> <br />
        </div>
        <div class="edit">
          <input type="text" name="address" placeholder="Address" />
          <br />
        </div>
        <div class="edit">
          <input type="text" name="description" placeholder="Description about the Flat" />
          <br />
        </div>
        <div class="edit">
          <label>Gender</label>
          <select name="gender">
            <% misc.globalConst.flatGenderList.forEach((gender)=> { %>
              <option value="<%=gender.value%>">
                <%= gender.display %>
              </option>
              <% }) %>
          </select>
        </div>
        <span>
          <input type="text" name="x" id="x" placeholder="Latitude" />
          <input type="text" name="y" id="y" placeholder="Longitude" />
          <button onclick="getlocation()" type="button">
            Set Current Location
          </button>
          <button type="button">Set From Map</button>
          <script>
            var x = document.getElementById("location");
            function getlocation() {
              xy = navigator.geolocation.getCurrentPosition(setXY);
              console.log(xy);
            }

            function setXY(location) {
              document.getElementById("x").value = location.coords.latitude;
              document.getElementById("y").value = location.coords.longitude;
            }
          </script>
        </span>
        <div class="edit">
          <label>Level</label>
          <select name="level">
            <% for(let i=0; i<20; i++) { %>
              <option value="<%=i+1%>">
                <%=i+1%>
              </option>
              <% } %>
          </select>
        </div>
        <div class="edit">
          <input type="number" name="area" placeholder="Area in square feet" />
        </div>
        <div class="edit">
          <label>Lift</label>
          <input type="checkbox" name="lift" />
        </div>
        <div class="edit">
          <label>Generator</label>
          <input type="checkbox" name="generator" /> <br />
        </div>
        <div class="edit">
          <input type="number" name="rent" placeholder="Rent" /> <br />
        </div>
        <div class="edit">
          <input type="text" name="msg" placeholder="Message for the Customer" />
          <br />
        </div>

        <a href="../../owner/profile/<%=owner.username%>">Owner: <%=owner.name%></a>
        <input type="hidden" name="owner" value="<%=owner.username%>" />
        <br />

        <button class="save">Save</button>
        <button><a href="../owner/profile">Cancel</a></button>
      </form>
    </div>

    <div>
      <div class="edit">
        <input type="number" name="bed" placeholder="Bedroom" form="register" />
      </div>
      <br />
      <div class="edit">
        <input type="number" name="din" placeholder="Dining Room" form="register" />
      </div>
      <br />
      <div class="edit">
        <input type="number" name="liv" placeholder="Living Room" form="register" />
      </div>
      <br />
      <div class="edit">
        <input type="number" name="kit" placeholder="Kitchen" form="register" />
      </div>
      <br />
      <div class="edit">
        <input type="number" name="bath" placeholder="Bathroom" form="register" />
      </div>
      <br />
      <div class="edit">
        <input type="number" name="balk" placeholder="Balcony" form="register" />
      </div>
      <br />
      <div class="edit">
        <input type="number" name="xtra" placeholder="Extra Room" form="register" />
      </div>
      <br />
    </div>
    <% } else { %>
      <p>USER NOT FOUND!</p>
      <% } %>
</body>

</html>