<!DOCTYPE html>
<html>

<% 
console.log(flat);
console.log(user);
%> 

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" type="image/x-icon" href="/images/favicon.svg">
  <link rel="stylesheet" href="/css/request.css" type="text/css" />
  <title>Flat Reservation Request </title>
</head>

<body>
  <%- include("../partials/navbar.ejs") %>
    <% if(flat.rent>0 && (flat.gender === user.gender || flat.gender === 2)) { %>
      <div class="wrapper">
        <div class="container">
          <form method="post">
            <input type="hidden" name="studentID" value="<%=user.id%>" />
            <h1>Flat Request for <a href="/flat/profile/<%=flat.id %>">
                <%=flat.name %>
              </a> </h1>
            <br />
            <h2>Message From <a href="/owner/profile/<%=owner.username %>">
                <%=owner.name %>
              </a>
            </h2>
            <p>
              <%=flat.message %>
            </p>
            <div class="edit">
              <input type="text" name="msg" placeholder="Request Message" />
              <br />
            </div>
            <br />
            <h2>Your contact info that will be sent to the owner</h2>
            <h4>Phone Number: <%=phone%>
            </h4>
            <h4>Email Address: <%=email%>
            </h4>
            <button class="req">Send Request</button>
          </form>
          <br />
          <button class="cancel"><a href="../profile/<%=flat.flatID%>">Cancel</a></button>
        </div>
      </div>
    <% } else if (flat.gender !== user.gender && flat.gender !== 2) { %>
      <div class="wrapper">
        <div class="container">
          <p>YOU ARE NOT ELIGIBLE FOR THIS FLAT!</p>
        </div>
      </div>
    <% } else { %>
      <p>FLAT NOT FOUND!</p>
    <% } %>
          <%#- include("../partials/footer.ejs") %>
</body>

</html>