<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="images/favicon.svg" type="image/svg+xml">
  <link rel="stylesheet" href="css/bulma.min.css">
  <link rel="stylesheet" href="css/mybulma.css">

  <title>Home - Abaash</title>
</head>

<body>
  <%- include ("./partials/navbar.ejs", {mode:mode,currentUser:currentUser}) %>
    <div class="navbar-bottom">
      <ul class="navbar-list">
        <% if(currentUser) { %>
          <li>
            <a href="<%=mode%>/profile/<%=currentUser%>">
              <%#=nameOfCurrentUser? nameOfCurrentUser: currentUser%>
            </a>
          </li>
          <li><a href="logout">Log Out</a></li>

          <% if(mode==='student' ) { %>
            <li><a href="student/coupon">Coupon</a></li>
            <% } %>

              <li><a href="map">Map</a></li>
              <li><a href="notifications">Notifications</a></li>
              <li><a href="sos">SOS</a></li>

              <% } else { %>
                <li><a href="/student/login">Log In</a></li>
                <% } %>
      </ul>
      <br />
      <%- include("./partials/advanced_search.ejs") %>
        <h2>Dashboard</h2>

        <%- include ("./partials/showFlats.ejs", {flatList:flatList}) %>
    </div>
</body>

</html>