<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script
      src="https://kit.fontawesome.com/53732d670c.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/edit.css" type="text/css" />
    <title>New Flat</title>
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      .container {
        width: 100vw;
        height: 100vh;
        background-image: linear-gradient(
            110deg,
            rgba(255, 255, 255, 0.7) 50%,
            transparent 50%
          ),
          url("/images/home5.jpg");
        background-size: 100% 100%;
      }
    </style>
  </head>

  <body>
    <div class="register-container">
      <% if(currentUser === flat.owner) { %>
      <form method="post">
        <h1>Edit Room</h1>
        <div class="edit">
          <input
            type="text"
            name="name"
            placeholder="Name"
            value="<%=room.name%>"
          />
          <br />
        </div>
        <div class="edit">
          <input
            type="number"
            name="area"
            placeholder="Area (in square feet)"
            value="<%=room.area%>"
          />
          <br />
        </div>
        <div class="edit">
          <label>Flooring</label>
          <select name="flooring">
            <% misc.globalConst.flooringList.forEach((ftype)=> { %>
            <option value="<%=ftype.value%>" <%= room.flooring===ftype.value? 'selected': '' %>> <%= ftype.display %></option>
            <% }) %>
          </select>
        </div>

        <a href="../../flat/profile/<%=flat.flatID%>">Flat: <%=flat.name%></a>
        <br />

        <button class="save">Save</button>
        <button><a href="../profile/<%=room.roomID%>">Cancel</a></button>
      </form>
      <% } else { %>
      <p>USER NOT FOUND!</p>
      <% } %>
    </div>
  </body>
</html>
